In [2]:
import pandas as pd

raw_data = [
  'Марка: BP; Производитель: BP EUROPA; Кол-во: 0; Бренд: BP',
  'Марка: CASTROL; Производитель: BP EUROPA; Кол-во: 0; Бренд: CASTROL',
  'Производитель: UAB "SCT LIBENLIBEN" EUROPA; Кол-во: 200 ШТ; Бренд: MANNOL',
]

In [9]:
def prepare_data(raw_data):
    splited_data = list(
        map(lambda row: row.split(';'), raw_data)
    )

    result = []

    for row in splited_data:
        prepared_row = {}

        for cell in row:
            key, value = cell.split(':')
            prepared_row.setdefault(key.strip(), value.strip())

        result.append(prepared_row)

    return result

prepared_data = prepare_data(raw_data)

In [10]:
pd.DataFrame.from_dict(prepared_data)

     Марка                Производитель  Кол-во    Бренд
0       BP                    BP EUROPA       0       BP
1  CASTROL                    BP EUROPA       0  CASTROL
2      NaN  UAB "SCT LIBENLIBEN" EUROPA  200 ШТ   MANNOL